body {
    background-image: url(./kontakt.jpg);
    background-size: 100%;
}

nav > div {
    background-color: white;
}


p { font-size: 20px;
    color: darkorange;
}

#email {
    margin-top: 200px;
    margin-left: 200px;
}

#telefon {
    margin-top: 140px;
    margin-left: 550px;
}

#mobilni {
    margin-top: 80px;
    margin-left: 800px;
}

#webstrana {
    margin-top: -150px;
    margin-left: 1060px;
}